body {
  font-family: monospace;
  font-size: 16px;
  background-color: white;
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
  text-align: left;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}

img {
  align: center;
  width: 80%; /* you can use px */
  height: auto;
  padding: inherit;
  margin: auto;
  display: block;
}

blockquote {
  font-style: italic;
}

code {
  background-color: #eeeeee
}

pre code {
  display: block;
}

header time {
  font-style: italic;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: blue }
h2 a { color: blue }
h3 a { color: blue }
h4 a { color: blue }
h5 a { color: blue }
h6 a { color: blue }

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

